body{ 
	margin: 10px auto 10px auto;
	font-family: sans-serif;
	align-items: center;
	font-size: 30px;
}
.cima{
	width: 800px;
	padding: 50px;
	margin: 10px auto 10px auto;
	font-size: 50px;
	background-color: #87CEFA;
	text-align: center;
}



h1{
	text-align: center;
}

.baixo{
	margin: 10px 400px; 
	width: 1200px;
	font-size: 10px;
}

h2{
text-align: center;
}

.form{

	font-family: sans-serif;
	align-items: center;
	font-size: 30px;
}